fastapi
uvicorn
qdrant-client
sentence-transformers
rank-bm25
python-multipart
requests
tenacity
datasets
nltk
pydantic
scikit-learn
fastembed
python-dotenv
google-genai
websockets
python-docx
python-pptx
pymupdf
Pillow
