fastapi
uvicorn
python-multipart
websockets
pydantic
python-dotenv
google-genai
qdrant-client
fastembed
sentence-transformers
tenacity
nltk
pymupdf
python-docx
python-pptx
Pillow
numpy
pytesseract
paddlepaddle
paddleocr
